@model TheCakeShop.Models.ViewModels.Cart.CartVM

<div class="ajaxcart" style="color:#000; position: relative; right: -206px; bottom: -44px; font-family: Maven Pro; text-transform:uppercase; ">
    Your cart: @Model.Quantity item(s) - $@Model.Price
    <br />
    <a href="/Cart/Index" class="text-center"><span>Proceed to Checkout</span></a>
</div>
